directory = ~/data/rtorrent/downloads/
session = ~/data/rtorrent/session/

port_range = 6890-6999
port_random = yes
dht = auto
encryption = require
peer_exchange = yes

schedule = watch_directory,10,10,load_start=~/data/rtorrent/watch/*.torrent
schedule = tied_directory,10,10,start_tied=
