directory.default.set = /home/william/rtorrent/downloads
session.path.set = /home/william/rtorrent/session/

pieces.hash.on_completion.set = yes

network.port_range.set = 7800-8800
network.port_random.set = yes
network.http.ssl_verify_peer.set = 0

dht.mode.set = auto
dht.port.set = 6881
protocol.pex.set = yes

protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

network.max_open_files.set = 64

schedule = watch_directory,10,10,load_start=/home/william/rtorrent/watch/*.torrent
schedule = tied_directory,10,10,start_tied=
